[user]
    name = Rishabh Rao
    email = rishabhsrao@gmail.com

[color]
    ui = auto
    pager = true

[core]
    # https://github.com/so-fancy/diff-so-fancy
    pager = diff-so-fancy | less --tabs=4 --quit-if-one-screen --RAW-CONTROL-CHARS --no-init
    excludesfile = $HOME/.gitignore

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[diff-so-fancy]
    stripLeadingSymbols = true
