# Sass (sass-lang.com)
.sass-cache

# Node (nodejs.org)
node_modules
npm-debug.log
.npm-prefix

# Operating system
.DS_Store
Thumbs.db
Desktop.ini
.Spotlight-V100
.Trashes
*.swp

# Shell
.zshrc.zwc

# IDE
*.sublime-project
*.sublime-workspace
.vscode
.idea

# Bundler (bundler.io)
.bundle
